.container {
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: start;
  max-width: 1012px;
  margin-top: 18px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5px;
  padding-right: 5px;
  width: 100%;
}

@media (max-width: 767px) {
  .container {
    display: flex;
    overflow-x: scroll;
    grid-template-columns: none;
    min-width: 100%;
  }
}

.container2 {
  margin-top: 18px;
  margin-left: auto;
  /* margin-right: auto; */
  padding-left: 5px;
  padding-right: 5px;
  /* width: 100%; */
}

@media (max-width: 767px) {
  .container2 {
    display: flex;
    overflow-x: scroll;
    grid-template-columns: none;
    min-width: 100%;
  }
}

.card {
  height: 360px;
  /* width:500px; */
  /* overflow:hidden;  */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .card-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.card .card-description {
  padding: 0 16px;
  margin-top: 16px;
  font-size: 20px;
  text-align: center;
  /* text-emphasis:900; */
}

.card .card-button {
  width: 160px;
  margin: 8px auto;
  padding: 8px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
}
.image-container {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
}

.image-scroll {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
    align-items: center;
    /* gap: 1rem; */
  
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

@media (max-width: 640px) {
  .button-container {
    margin-top: 16px;
  }
}

.responsive-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  max-height: 660px;
  position: relative;
}

@media (max-width: 1000px) {
  .responsive-section {
    width: 100%;
  }
}


